body {
  font-family: "Montserrat", sans-serif;
}

.App {
  background: url("https://images.unsplash.com/photo-1561657819-51c0511e35ab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

  .overlay {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    padding-bottom: 60px;
    min-height: 100%;
  }
}
