.AddStory {
  width: 80%;
  margin: 100px auto;

  button {
    background-color: #a80c03;
    border: none;

    &:hover {
      background-color: #c10e03;
    }
  }

  .btn {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #a80c03;
  }
}
