.SignUp {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  margin: 100px auto;
  background-color: #7c1313;
  border-radius: 25px;
  padding: 40px;

  @media screen and (max-width: 425px) {
    margin: 50px auto;
    width: 90%;
  }

  input {
    @media screen and (max-width: 425px) {
      font-size: 0.8rem;
    }
  }

  button {
    background-color: #a80c03;
    border: none;

    &:hover {
      background-color: #c10e03;
    }

    @media screen and (max-width: 425px) {
      font-size: 0.8rem;
    }
  }

  h2 {
    color: white;

    @media screen and (max-width: 425px) {
      font-size: 1.6rem;
    }
  }

  h5 {
    font-size: 1.1rem;
    color: white;

    @media screen and (max-width: 425px) {
      font-size: 0.8rem;
    }
  }

  small {
    color: white !important;
  }

  a {
    color: white;
    text-decoration: underline;
  }

  .btn {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #a80c03;
  }
}
