.SignUp {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  margin: 100px auto;
  background-color: #7c1313;
  border-radius: 25px;
  padding: 40px;

  button {
    background-color: #a80c03;
    border: none;

    &:hover {
      background-color: #c10e03;
    }
  }

  h2 {
    color: white;
  }

  h5 {
    font-size: 1.1rem;
    color: white;
  }

  small {
    color: white !important;
  }

  a {
    color: white;
    text-decoration: underline;
  }

  .btn {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #a80c03;
  }
}
