.Homepage {
  padding: 80px 20px;

  .listening-container {
    padding: 0 20px;
  }

  .line {
    width: 90px;
    position: relative;
    top: 90px;
    border: 2px solid #7c1313;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  }
  h1 {
    width: 400px;
    color: white;
    padding-top: 250px;
    margin-right: 40px;
    position: absolute;
    top: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .get-started {
    position: relative;
    font-size: 1.1rem;
    top: 235px;
    background: #7c1313;
    box-shadow: 12px 13px 15px rgba(0, 0, 0, 0.1);
  }

  .circle {
    background-color: #7c1313;
    width: 350px;
    height: 350px;
    box-shadow: 17px 11px 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    position: relative;
    left: 60%;
    bottom: 15px;

    i {
      color: white;
      font-size: 2rem;
      position: relative;
      top: 60px;
      left: 75px;
    }

    h5 {
      font-family: "Montserrat Alternates", sans-serif;
      color: white;
      width: 300px;
      position: relative;
      top: 80px;
      left: 75px;
    }

    h2 {
      font-family: "Great Vibes", cursive;
      letter-spacing: 1px;
      color: white;
      position: relative;
      top: 90px;
      left: 73px;
    }
  }

  .white-container {
    position: relative;
    top: 50px;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    border: 10px solid #7c1313;

    .submit-story,
    .help-others,
    .comment {
      margin-top: 70px;
      text-align: center;

      h5 {
        font-weight: 700;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      }

      p {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .submit-story {
    padding: 0 20px;
    i {
      font-size: 25px;
      margin-right: 5px;
      margin-bottom: 10px;
      color: #7c1313;
    }
  }

  .help-others {
    position: relative;
    bottom: 3px;
    padding: 0 20px;
    i {
      font-size: 30px;
      color: #7c1313;
      margin-bottom: 6px;
    }
  }

  .comment {
    position: relative;
    bottom: 7px;
    padding: 0 20px;
    i {
      font-size: 25px;
      margin-bottom: 7px;
      color: #7c1313;
    }
  }

  .divider {
    border: 2px solid #7c1313;
    height: 170px;
    margin-top: 65px;
  }

  button {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    border: none !important;
    outline: none !important;
  }

  @media screen and (max-width: 820px) {
    .submit-story,
    .help-others,
    .comment {
      i {
        font-size: 23px;
      }
      margin-top: 70px;
      text-align: center;

      h5 {
        font-weight: 700;
        font-size: 1rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      }

      p {
        font-size: 0.9rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }

  @media screen and (max-width: 320px) {
    padding: 25px 15px;

    .listening-container {
      padding: 0 20px;
      .line {
        width: 40px;
      }
    }

    h1 {
      width: 400px;
      font-size: 0.9rem;
      color: white;
      padding: unset;
      margin-right: 40px;
      position: relative;
      top: 106px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .circle {
      width: 140px;
      height: 140px;
      left: 135px;

      i {
        color: white;
        font-size: 0.7rem;
        position: relative;
        top: 20px;
        left: 28px;
      }

      h5 {
        font-size: 0.3rem;
        position: relative;
        top: 20px;
        left: 25px;
      }

      h2 {
        font-size: 1rem;
        position: relative;
        top: 20px;
        left: 25px;
      }
    }

    .white-container {
      height: auto;
      display: block;
      border: 5px solid #7c1313;

      .submit-story,
      .help-others,
      .comment {
        margin-top: unset;
      }

      .submit-story {
        padding-top: 20px;
      }
    }

    .divider {
      border: 2px solid #7c1313;
      height: 260px;
      margin-top: 65px;
      display: none;
    }

    .get-started {
      font-size: 0.8rem;
      top: 165px;
    }

    .submit-story {
      padding: 0 20px;
      i {
        font-size: 1.1rem;
        margin-right: 5px;
        margin-bottom: 10px;
        color: #7c1313;
      }

      h5 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.8rem;
      }
    }

    .help-others {
      position: relative;
      bottom: 3px;
      padding: 0 20px;
      i {
        font-size: 1.2rem;
        color: #7c1313;
        margin-bottom: 6px;
      }

      h5 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.8rem;
      }
    }

    .comment {
      position: relative;
      bottom: 7px;
      padding: 0 20px;
      i {
        font-size: 1.2rem;
        margin-bottom: 7px;
        color: #7c1313;
      }

      h5 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }

  @media screen and (max-width: 375px) and (min-width: 374px) {
    padding: 37px 20px;

    .listening-container {
      padding: 0 20px;
      .line {
        width: 40px;
      }
    }

    h1 {
      width: 400px;
      font-size: 0.9rem;
      color: white;
      padding: unset;
      margin-right: 40px;
      position: relative;
      top: 106px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .circle {
      width: 150px;
      height: 150px;
      left: 167px;

      i {
        color: white;
        font-size: 0.8rem;
        position: relative;
        top: 25px;
        left: 35px;
      }

      h5 {
        font-size: 0.3rem;
        position: relative;
        top: 30px;
        left: 35px;
      }

      h2 {
        font-size: 1rem;
        position: relative;
        top: 30px;
        left: 35px;
      }
    }

    .white-container {
      height: auto;
      display: block;

      .submit-story,
      .help-others,
      .comment {
        margin-top: unset;
      }

      .submit-story {
        padding-top: 20px;
      }
    }

    .divider {
      border: 2px solid #7c1313;
      height: 260px;
      margin-top: 65px;
      display: none;
    }

    .get-started {
      font-size: 0.8rem;
      top: 165px;
    }

    .submit-story {
      padding: 0 20px;
      i {
        font-size: 1.1rem;
        margin-right: 5px;
        margin-bottom: 10px;
        color: #7c1313;
      }

      h5 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.8rem;
      }
    }

    .help-others {
      position: relative;
      bottom: 3px;
      padding: 0 20px;
      i {
        font-size: 1.2rem;
        color: #7c1313;
        margin-bottom: 6px;
      }

      h5 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.8rem;
      }
    }

    .comment {
      position: relative;
      bottom: 7px;
      padding: 0 20px;
      i {
        font-size: 1.2rem;
        margin-bottom: 7px;
        color: #7c1313;
      }

      h5 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }

  @media screen and (max-width: 425px) and (min-width: 376px) {
    padding: 37px 5px;

    .listening-container {
      padding: 0 40px;
      .line {
        width: 40px;
      }
    }

    h1 {
      width: 400px;
      font-size: 0.9rem;
      color: white;
      padding: unset;
      margin-right: 40px;
      position: relative;
      top: 106px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .circle {
      width: 200px;
      height: 200px;
      left: 187px;

      i {
        color: white;
        font-size: 0.9rem;
        position: relative;
        top: 41px;
        left: 41px;
      }

      h5 {
        font-size: 0.7rem;
        position: relative;
        top: 45px;
        left: 39px;
      }

      h2 {
        font-size: 1rem;
        position: relative;
        top: 47px;
        left: 35px;
      }
    }

    .white-container {
      height: auto;
      display: block;

      .submit-story,
      .help-others,
      .comment {
        margin-top: unset;
      }

      .submit-story {
        padding-top: 20px;
      }
    }

    .divider {
      border: 2px solid #7c1313;
      height: 260px;
      margin-top: 65px;
      display: none;
    }

    .get-started {
      font-size: 0.8rem;
      top: 165px;
    }

    .submit-story {
      padding: 0 20px;
      i {
        font-size: 1.1rem;
        margin-right: 5px;
        margin-bottom: 10px;
        color: #7c1313;
      }

      h5 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.8rem;
      }
    }

    .help-others {
      position: relative;
      bottom: 3px;
      padding: 0 20px;
      i {
        font-size: 1.2rem;
        color: #7c1313;
        margin-bottom: 6px;
      }

      h5 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.8rem;
      }
    }

    .comment {
      position: relative;
      bottom: 7px;
      padding: 0 20px;
      i {
        font-size: 1.2rem;
        margin-bottom: 7px;
        color: #7c1313;
      }

      h5 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }

  @media screen and (max-width: 767px) and (min-width: 426px) {
    padding: 37px 15px;

    .line {
      width: 50px;
      position: relative;
      top: 90px;
      border: 2px solid #7c1313;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    }

    h1 {
      width: 400px;
      font-size: 1.3rem;
      color: white;
      padding: unset;
      margin-right: 40px;
      position: relative;
      top: 106px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .circle {
      width: 205px;
      height: 205px;
      left: 48%;
      top: -43px;
      i {
        color: white;
        font-size: 0.9rem;
        position: relative;
        top: 37px;
        left: 40px;
      }

      h5 {
        font-size: 0.8rem;
        position: relative;
        top: 42px;
        left: 38px;
      }

      h2 {
        font-size: 1.3rem;
        position: relative;
        top: 47px;
        left: 38px;
      }
    }

    .get-started {
      font-size: 0.8rem;
      top: 132px;
    }
  }

  @media screen and (max-width: 768px) {
    .circle {
      left: 52%;
    }
  }
}
