.ShowStory {
  width: 80%;
  margin: 100px auto;
  border-radius: 25px;
  border: 10px solid #7c1313;
  padding: 40px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  h1 {
    font-family: "Damion", cursive;
    color: black;
  }

  p {
    color: black;
    word-break: break-all;
  }

  button {
    background-color: #8f1f19;
    border: none;
    cursor: pointer;

    a {
      color: white;
      cursor: pointer;
      text-decoration: none;
    }

    &:hover {
      background-color: #c10e03;
    }
  }

  .like-dislike-comment {
    button {
      margin-right: 10px;
    }
  }

  .btn {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    &:focus {
      box-shadow: none !important;
    }
  }

  .edit-story {
    margin-right: 10px;
  }

  .edit-delete-div {
    display: flex;
  }

  .story-container {
    margin-bottom: 80px;
  }

  .comment-container {
    padding: 20px;
    box-shadow: rgba(97, 22, 22, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }

  .comment-name {
    font-weight: 700;
    margin-bottom: 0;
  }

  .go-back {
    display: flex;
    margin-top: 40px;
  }
}

.not-available {
  font-family: "Montserrat", sans-serif;
  margin-top: 200px;
}
