.ShowStory {
  width: 80%;
  margin: 100px auto;
  border-radius: 25px;
  border: 10px solid #7c1313;
  padding: 40px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  h1 {
    font-family: "Damion", cursive;
    color: black;
  }

  p {
    color: black;
    word-break: break-all;
  }

  button {
    background-color: #8f1f19;
    border: none;
    cursor: pointer;

    a {
      color: white;
      cursor: pointer;
      text-decoration: none;
    }

    &:hover {
      background-color: #c10e03;
    }
  }

  .btn {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    &:focus {
      box-shadow: none !important;
    }
  }

  .edit-story {
    margin-right: 10px;
  }
}

.not-available {
  font-family: "Montserrat", sans-serif;
  margin-top: 200px;
}
