.Navbar {
  .book {
    color: #a80c03;
  }
  ul.navbar-nav {
    font-family: "Montserrat", sans-serif;
  }

  .fa-book-open {
    position: relative;
    top: 4px;
  }

  .bg-light {
    background-color: #a80c03 !important;
  }

  a.navbar-brand {
    color: white !important;
    font-family: "Damion", cursive;
  }

  a.nav-link {
    color: white !important;
    margin-right: 15px;
    border: 2px solid transparent;
    font-size: 1.1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      border-bottom: 2px solid #7c1313;
    }
  }

  button:focus {
    outline: none !important;
  }

  @media screen and (max-width: 425px) {
    a.nav-link {
      font-size: 0.9rem;

      &:hover {
        border: none;
      }
    }
  }
}
