.Stories {
  width: 80%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  margin-top: 75px;

  h1 {
    margin-bottom: 40px;
  }

  .stories-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    .card-header {
      background-color: #a80c03;
      color: white;
    }
  }

  button {
    background-color: #a80c03;
    border: none;

    &:hover {
      background-color: #c10e03;
    }
  }

  .btn-primary {
    box-shadow: none;
  }
}
